<app-gauge-rating-meter [measuredValue]="measuredValue" [colorSegments]="colorSegments"></app-gauge-rating-meter>

<form (submit)="updateGauge()">
  <div>
    <label>
      Measured Value:
      <input [(ngModel)]="inputMeasuredValue" name="inputMeasuredValue" type="number" min="0" max="100" required>
    </label>
  </div>

  <div *ngFor="let segment of colorSegments; let i = index">
    <h3>Color Segment {{ i + 1 }}</h3>
    <label>
      Color:
      <input [(ngModel)]="segment.color" name="segmentColor{{ i }}" type="color">
    </label>
    <label>
      Start Value:
      <input [(ngModel)]="segment.startValue" name="segmentStartValue{{ i }}" type="number" min="0" max="100">
    </label>
    <label>
      End Value:
      <input [(ngModel)]="segment.endValue" name="segmentEndValue{{ i }}" type="number" min="0" max="100">
    </label>
  </div>

  <button type="submit">Submit</button>
</form>
